<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaser Data</title>
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <!-- add before </body> -->
    
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  
    <style>
        .flex{
            display:flex;
            
        }
        .flex span{
            font-size: 40px; 
            line-height: 41px; 
            border: 1px solid black; 
        }
        .button{
            cursor: pointer;
            font-size: 60px;
        }
    </style>
    
</head>
<body>
    <form action="/teaseradd" class="ui form" method="POST">
        <div class="field">
          <label>Teaser Text</label>
          <input type="text" name="teasertext" placeholder="Teaser Text">
        </div>
        <div class="field">
            <label>Teaser Description</label>
            <textarea  name="teaserdescription"  rows="4" cols="50">
            </textarea>
          
        </div>
        
        
        <div class="field">
            <label for="img">Image</label>
            <input type="file" name="img"  class="filepond ui image small" >
            <span id='myButton' class="button">+</span>
        </div>
      
        <div class="p">
            
            <% allImages.forEach(function (image) { %>
                        <div class="flex">
                            <img src="<%= image.imgSrc%>" alt="">
                            <a class="delete" data-doc="<%=image._id%>">Delete</a>

                        </div>
                        
                
            <% }) %>  

            
        </div>
        <div>
          
            <!-- <% allTeaser.forEach(function (teaser) { %>
                
                <a class="delete" data-doc="<%= teaser._id %>">Delete</a>
                

            <% }) %>   -->
        </div>
      
        
        <button class="ui button primary" type="submit">Submit</button>
      </form>
      <script>
        document.addEventListener('DOMContentLoaded',()=>{
            FilePond.registerPlugin(
                FilePondPluginImageResize,
                FilePondPluginImagePreview,
                FilePondPluginFileEncode,
    
    
    
            );
            FilePond.setOptions({
                stylePanelAspectRatio:150/100,
                imageResizeTargetWidth:100,
                imageResizeTargetHeight:150,
            });
            FilePond.parse(document.body)
            
    
        });

        $("#myButton").click(function(){
            $(".p").toggle();
        });

       const deleteItem= $('.delete');
       
    $('.delete').click((e)=>{
        console.log('going')
            const endpoint=`/teaseradd/${ deleteItem.attr("data-doc")}`;
            console.log(endpoint);
            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response)=>{response.json()})
            .then((data)=>{window.location.href=data.redirect})
            .catch((err)=>{console.log(err)})
       })

        </script>
</body>
</html>